<!-- <div id="oas_reading" class="oas-reading"> -->
<div class="row">

    <div class="col-md-6">
        <form class="form-signin" [formGroup]="organizationForm" (ngSubmit)="organizationFormSubmit()">
            <input type="hidden" formControlName="orgidint">
            <div class="card">
                <div class="card-header"><strong>Create Organization</strong></div>
                <div class="card-body">


                    <div class="row input-group col-md-12">
                        <div class="col-md-4 forRequired">
                            <label> Level</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="adm_level" formControlName="adm_level">
                                <option value="1">abc</option>
                                <option value="2">dd</option>
                                <option value="3">dddd</option>
                                
                            </select>
                            <span style="color: red;">
                              
                            </span>

                        </div>
                    </div><br>
                    <div class="row input-group col-md-12">
                        <div class="col-md-4 forRequired">
                            <label>Administration</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="adm_id" formControlName="adm_id">
                                <option value="1">abc</option>
                                <option value="2">dd</option>
                                <option value="3">dddd</option>
                                
                            </select>
                            <span style="color: red;">
                              
                            </span>

                        </div>
                    </div><br>
                    <div class="row input-group col-md-12">
                        <div class="col-md-4 forRequired">
                            <label>Parent</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="parent" formControlName="parent">
                                <option value="1">abc</option>
                                <option value="2">dd</option>
                                <option value="3">dddd</option>
                                
                            </select>
                            <span style="color: red;">
                              
                            </span>

                        </div>
                    </div><br>
                    <div class="row input-group col-md-12">
                        <div class="col-md-4 forRequired">
                            <label>Name</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" formControlName="name">
                            
                        </div>

                    </div><br>
                    <div class="row input-group col-md-12">
                        <div class="col-md-4 forRequired">
                            <label>Code</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="code" formControlName="code">
                            
                        </div>

                    </div><br>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary px-4">Save</button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" (click)="resetForm()" class="btn btn-danger px-4">Reset</button>
                        </div>
                    </div>


                </div>
            </div>
            <br>
        </form>
    </div>




    <div class="col-md-6">
        <div class="card">

            <div class="card-header">
                <i class="fa fa-align-justify"></i> Organization List
            </div>

            <div class="card-body">



                <form class="form-srch"  [formGroup]="srchForm" >

                    <div class="input-group">
                        <input class="form-control" placeholder="{{'_search' }}" id="srch_term"
                            name="srch_term" type="text" formControlName="srch_term" (keyup)="search()">
                        <button class="btn btn-default" type="button" (click)="search()"><i
                                class="fa fa-search"></i></button>
                    </div>
                </form>

                <hr />


                <table class="table table-bordered table-striped table-sm tbl-sortable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let item of lists; let i = index; ">
                            <td>{{item.code}}</td>
                            <td>{{item.orgnameen}}</td>
                            <td>{{item.orgnamenp}}</td>
                            <td><a (click)="getUpdateItem(item.orgidint)" href="javascript:void(0)"><i
                                        class="fa fa-edit alert-danger"></i></a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" (click)="deleteItem(item.orgidint)"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <form [formGroup]="srchForm">
                    <div class="row" style="float:right">
                        <div class="col-md-12 smallbr">
                            Entries <select name="entries" id="entries" formControlName="entries"  (change)="search()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </form>


                <div class="col-md-6">
                    <pagination [rotate]="true" [maxSize]="5" [totalItems]="pagination.total" [(ngModel)]="pagination.currentPage"
                        [boundaryLinks]="true" [itemsPerPage]="pagination.perPage" (pageChanged)="paginatedData($event)"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>

            </div>
        </div>
    </div>